html, body {
    min-height: 100% !important;
    height: 100%;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #afafad;
}

button {
    font-size: 100px;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    font-size: 28px;
    margin: 3px;
    color: #FFF;
    background-color: #FF9500;
}

.calculator-container {
    /* Center calculator */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.calculator {
    width: 380px;
    height: 580px;
    background-color: #1C1C1C;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.display {
    width: 90%;
    font-size: 40px;
    background-color: #1C1C1C;
    color: #FFF;
    border: 1px solid #373636;
    border-radius: 25px;
    text-align: right;
    padding: 15px;
    margin-top: 10px;
}

.calculator-buttons {
    display: flex;
    justify-content: center;
    margin: auto;
}

.calculator-buttons button {
    font-size: 32px;
}

.top-buttons-row button {
    background-color: #afafad;
}

.buttons-row button {
    background-color: #424141;
}

.buttons-right {
    display: flex;
    flex-direction: column;
}

.active-operator {
    background-color: #f8b353 !important;
}